[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pandas = "*"
numpy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pillow = "*"
sklearn = "*"
rake-nltk = "*"

[requires]
python_version = "3.6"
